body {
    background-color: #323232;
    font-family: Calibri, Arial, sans-serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-left: 1px solid dimgray;
    border-right: 1px solid dimgray;
    border-bottom: 1px solid dimgray;
}

#titlebar {
    display: inline-block;
    height: 25px;
    line-height: 25px;
    width: 100%;
    background-color: #2E6831;
    vertical-align: middle;
}
.titlebarButton{
    height: 100%;
    float: right;
    width: 30px;
    border: none;
    background-color: inherit;
}
.titlebarButton:focus{
    outline: none;
}
.redButton:hover{
    background-color: indianred;
}
.redButton:active{
    background-color: darkred;
}
.grayButton:hover {
    background-color: #548356;
}
.grayButton:active {
    background-color: #265629;
}

#windowTitle{
    display: inline-block;
    padding: 0 10px 0 5px;
    color: black;
}

#content {
    border: none;
    width: 100%;
    flex: 1 1 auto;
}
#statusbar{
    width: 100%;
    height: 20px;
    background-color: dimgray;
}